.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    
  }
   
  .box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 90vh;
    margin-top: calc(100vh - 70vh - 40px);
    background: #fff;
    border-radius: 15px;
    padding: 70px;
    border: 1px solid #999;
    overflow: auto;
    background-color: rgb(82, 82, 116);
    border: none;
  }
   